@import "_colors";
@import "_fonts";

figure {
  position: relative;
  box-shadow: $shadow;
}

img {
  height: 160px;
  width: 100%;
}

figcaption {
  padding: 1rem;
  height: 130px;
  h2 {
    font-size: $large;
    font-weight: normal;
  }
  p {
    font-size: $small;
  }


  button {
    position: absolute;
    bottom: 5px;
    right: 7px;
    color: $bleu;
    font-size: $small;
    text-transform: capitalize;
  }

}
