
//.row.align-middle.modal-box
  .column.shrink
    img(src="assets/img/placeholder-img.png", alt="Image de l'animal")
  .column.expanded
    h1 {{ detailsCat?.name}}
    p {{ detailsCat?.description}}

  button(type="button", (click)="closeModal()" ).close
    img(src="assets/img/icon-close.svg", alt="icone de fermeture")


.modal
  .modal-content
    .modal-header
      button(type="button", (click)="closeModal()" ).close
        img(src="assets/img/icon-close.svg", alt="icone de fermeture")
      h2
        ng-content(select='[modal-header]')
    .modal-body
      ng-content(select='[modal-body]')
    .modal-footer
      ng-content(select='[modal-footer]')
