header
  nav.row.expanded.align-middle.align-center
    .column.shrink.logo
      h1 the cat website
    .column.expanded.filters
      button(type="button").btn-filters filtre
        .list-filter
          div(*ngFor="let breed of breeds", (click)="getCatsByBreed(breed)").filter {{breed}}





main
  router-outlet
