header
  nav.row.expanded.align-middle.align-center
    .column.shrink.logo
      h1 the cat website
    .column.expanded.filters
      button(type="button").btn-filters filtre
        .list-filter
          div(*ngFor="let breed of breeds", (click)="getCatsByBreed(breed)").filter {{breed}}


main.row.expanded
  ng-container(*ngFor="let cat of cats")
    div(*ngIf="cat").column.small-12.medium-6.large-4
      app-card-pet([cat]="cat", (openModal)="openModalCatDetails($event)" )

    div(*ngIf="cat && cat.length <= 0") Aucun résultat trouvé


div(*ngIf="displayModal").row.expanded.modal
  .column.small-12
    app-modal([detailsCat]="catSelected", (close)="displayModal = false")


