header
  nav.row.expanded.align-middle.align-center
    .column.shrink.logo
      h1 the cat website
    .column.expanded.filters
      button(type="button").btn-filters filtre
        div.list-filter
          div.filter united state
          div.filter egypt
          div.filter greece


main.row.expanded
  ng-container(*ngFor="let cat of cats")
    .column.small-12.medium-6.large-4
      app-card-pet([cat]="cat" )

footer.row.expanded


